<div class="pagina">
  <div class="container">
    <div class="header">
      <div class="button" routerLink="/homepage">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
          </svg>
        </span>
      </div>
      <div class="title">
        <span>{{this.struttura.nome}}</span>
      </div>
    </div>
    <div class="mid">
      <div class="img">
        <img src="https://picsum.photos/200/300" alt="(to-do)" />
      </div>
      <div class="desc">
        <span>{{this.struttura.descrizione}} </span>
      </div>
    </div>
    <div class="footer">
      <div class="social">
        <span>social+pos (to-do)</span>
      </div>

      <div class="accs">
        <div *ngFor="let acc of this.struttura.disabilita">
          {{ acc.categoria }} - {{ acc.descrizione }}
        </div>
      </div>
    </div>
  </div>
</div>
