/* Rimuove margini di default da tutti gli elementi */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Contenitore principale della pagina dettaglio */
.sc-detail-pagina {
  height: 93vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  box-sizing: border-box;

  /* Immagine di sfondo della pagina */
  background-image: url("../../assets/sc-background.webp");
  background-size: cover;
}
/*blur della immagine*/
.sc-detail-blur {
  height: 93vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  box-sizing: border-box;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

/* Contenitore interno con card bianca */
.sc-detail-container {
  width: 90vw;
  height: 85vh;

  display: flex;
  flex-direction: column;

  box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2); /* ombra */
  border-radius: 25px;

  background-color: #fff;

  overflow: hidden;
}

/* ===== HEADER ===== */

/* Barra superiore con pulsante back e titolo */
.sc-detail-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  padding: 1vh 2vw;

  background-color: rgb(28, 156, 217, 255);
}

/* Pulsante "indietro" */
.sc-detail-back-button {
  height: 3vw;
  width: 3vw;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.235);
  border-radius: 25px;

  border: none;

  cursor: pointer;

  background-color: white;
}

/* Effetto hover per il pulsante "indietro" */
.sc-detail-back-button:hover {
  background-color: white;
  transform: translateY(-5%);
}

/* Anima il contenuto interno al passaggio del mouse */
.sc-detail-back-button:hover div {
  animation: slide-left 1s ease forwards;
}

/* Animazione che fa "scivolare" l'icona da sinistra a destra */
@keyframes slide-left {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  49% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

/* Titolo centrato in mezzo all'header */
.sc-detail-header-title {
  position: absolute;
  left: 50%;

  width: auto;

  font-size: x-large;
  font-weight: 400;

  text-align: center;

  padding: 0.5% 2%;

  border-radius: 2%;

  transform: translateX(-50%);
  color: white;
}

/* ===== CENTRO ===== */

/* Sezione centrale con immagine e descrizione */
.sc-detail-center {
  display: flex;

  height: 50%;

  gap: 2vw;
  padding: 1.5vh 2vw;

  border-bottom: 1px solid #eee;

  overflow: hidden;
}

/* Contenitore per l'immagine */
.sc-detail-center-img {
  max-width: 30vw;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 1.11vw;

  overflow: hidden;
}

/* Immagine con scaling contenuto */
.sc-detail-center-img img {
  width: 100%;
  height: auto;
  max-height: 95%;

  object-fit: cover;

  border-radius: 1vw;
}

/* Contenitore per il testo descrittivo */
.sc-detail-center-desc {
  flex-grow: 1;

  background-color: #f9f9f9;

  padding: 1vw;

  border-radius: 1w;

  box-sizing: border-box;

  overflow-y: auto;
}
/* ====DIDASCALIA==== */
.sc-detail-center-desc-img {
  width: 0px;
  height: 0px;
  opacity: 0;

  color: transparent;
}
/*hover sulla immagine*/
.sc-detail-center-img:hover ~ .sc-detail-center-desc-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 10%;
  height: 20%;
  opacity: 1;
  padding: 15px;

  top: 30%;
  left: 15%;
  transform: translate(-50%, -50%);


  background-color: white;
  color: black;
  border-radius: 25px;

  position: absolute;
  transition: 350ms;
}
/*hover sul testo*/
.sc-detail-center-desc-img:hover {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 10%;
  max-width: 10%;
  height: 20%;
  max-height: 20%;
  opacity: 1;

  top: 33%;
  left: 12.1%;
  transform: translate(-50%, -50%);

  background-color: white;
  color: black;
  border-radius: 25px;

  position: absolute;
  transition: 450ms;
}

/* ===== FOOTER ===== */

/* Parte inferiore della scheda */
.sc-detail-footer {
  display: flex;
  justify-content: space-between;

  height: 50%;

  padding: 1vh 2vw;
  gap: 2vw;
}

/* Sezione dedicata all’accessibilità */
.sc-detail-footer-accessibility {
  width: 65vw;

  border-radius: 1vw;
  padding: 1vw;

  background-color: #f9f9f9;
}

/* Contenitore di testo generico */
.sc-detail-testo {
  height: 100%;
  width: 100%;
}

/* Sezione per social/posizione */
.sc-detail-social {
  width: 32vw;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Contenitori e stili per card social */
.main {
  display: flex;
  flex-direction: column;

  gap: 0.5vw;
  margin-right: 7vw;
}

.up,
.down {
  display: flex;
  flex-direction: row;

  gap: 0.5vw;
}

.card1,
.card2,
.card3,
.card4 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 6vw;
  height: 11vh;

  outline: none;
  border: none;

  background: white;
  border-radius: 90px 5px 5px 5px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  transition: 0.2s ease-in-out;
}
.card2 {
  border-radius: 5px 90px 5px 5px;
}
.card3 {
  border-radius: 5px 5px 5px 90px;
}
.card4 {
  border-radius: 5px 5px 90px 5px;
}

.instagram {
  fill: #cc39a4;
}
.sito {
  stroke: rgb(5, 153, 5);
}

.facebook {
  fill: #112ed2;
  height: 30px;
  width: 30px;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

.card1:hover .instagram {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}

.card2:hover .facebook {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: rgb(216, 63, 63);
}

.card3:hover .posizione {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #1ad81a;
}

.card4:hover .sito {
  stroke: white;
}
.card1,
.card2,
.card3,
.card4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip {
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);

  background-color: #000;
  color: white;

  padding: 0.4em 0.8em;
  border-radius: 12px;
  font-size: 0.75em;
  white-space: nowrap;

  opacity: 0;
  z-index: 10;
  pointer-events: none;

  transition: opacity 0.3s ease, transform 0.3s ease;
}

.card1:hover .tooltip,
.card2:hover .tooltip,
.card3:hover .tooltip,
.card4:hover .tooltip {
  opacity: 1;
  transform: translateX(-50%) translateY(-5px);
}

.card1:hover .tooltip {
  background-color: #cc39a4;
}

.card2:hover .tooltip {
  background-color: #8c9eff;
}

.card3:hover .tooltip {
  background-color: #d83f3f;
}

.card4:hover .tooltip {
  background-color: #1ad81a;
}

/* ===== ZOOM ===== */

/* Stile per versione ingrandita del testo */
.sc-zoomed {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  z-index: 9999;

  height: 80%;
  width: 80%;
  max-height: none;
  max-width: none;
  overflow: auto;

  background-color: white;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.4);
  padding: 2%;

  /* font-size: x-large; */
  font-weight: 580;
  border-radius: 25px;
  letter-spacing: 0.12em;
}

/* ===== RESPONSIVE DESIGN ===== */
@media (max-width: 768px) {
  .sc-detail-container {
    width: 85%;
    height: 95%;
    max-height: 95%;

    overflow: hidden;
  }

  .sc-detail-header {
    flex-direction: row;
    padding: 1em;
    justify-content: center;
  }

  .sc-detail-back-button {
    height: 80%;
    width: 10%;
  }

  .sc-detail-header-title {
    /* font-size: 1.2em; */
    max-width: 75%;

    white-space: normal;
    text-align: center;

    transform: none;

    position: static;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
  }

  .sc-detail-center {
    padding: 1em;

    flex-direction: column;
    max-height: 50%;

    align-items: center;
  }

  .sc-detail-center-img {
    max-width: 90%;
    max-height: 60%;
  }

  .sc-detail-center-desc {
    width: 100%;
    max-height: 40%;
    height: 40%;

    overflow-y: scroll;
  }

  .sc-detail-footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1em;
    height: 50%;
  }

  .sc-detail-footer-accessibility {
    max-height: 70%;
    max-width: 100%;
    width: 95%;
    height: 60%;
  }

  .sc-detail-social {
    height: 30%;
    width: 90%;
  }
  .main {
    width: 100%;
    height: 100%;
  }
  .sc-zoomed {
    max-width: 80%;
    width: 80%;
    padding: 5%;
  }
  .card1,
  .card2,
  .card3,
  .card4 {
    width: 52%;
    height: 70%;

    outline: none;
    border: none;

    background: white;

    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.15) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.2) 0px 1px 3px -1px;

    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .up,
  .down {
    height: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 5%;
  }

  .instagram,
  .facebook
  .card3 svg,
  .card4 svg {
    height: 80%;
    width: 80%;
  }
  .facebook{
    height: 70%;
    width: 70%;
  }
}
