/* Rimuove margini di default da tutti gli elementi */
* {
  margin: 0;
}

/* Contenitore principale della pagina dettaglio */
.sc-detail-pagina {
  height: 93vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  box-sizing: border-box;
  padding: 1vh;

  /* Immagine di sfondo della pagina */
  background-image: url(https://images.pexels.com/photos/69903/pexels-photo-69903.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: cover;
}

/* Contenitore interno con card bianca */
.sc-detail-container {
  width: 90vw;
  height: 85vh;

  display: flex;
  flex-direction: column;

  box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2); /* ombra */
  border-radius: 1%;

  background-color: #fff;
  overflow: hidden;
}

/* ===== HEADER ===== */

/* Barra superiore con pulsante back e titolo */
.sc-detail-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2% 3%;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  background-color: rgb(28, 156, 217,255);
}

/* Pulsante "indietro" */
.sc-detail-back-button {
  height: 150%;
  width: 10%;
  font-size: 150%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.235);
  border-radius: 10%;
  border : 3px;
  background-color: white;
}

/* Effetto hover per il pulsante "indietro" */
.sc-detail-back-button:hover {
  background-color:white;
  transform: translateY(-5%);
}

/* Anima il contenuto interno al passaggio del mouse */
.sc-detail-back-button:hover div {
  animation: slide-left 1s ease forwards;
}

/* Animazione che fa "scivolare" l'icona da sinistra a destra */
@keyframes slide-left {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  49% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

/* Titolo centrato in mezzo all'header */
.sc-detail-header-title {
  position: absolute;
  left: 50%;
  height: 6%;
  width: auto;

  font-size: 200%;
  font-weight: 400;

  text-align: center;


  padding: 0.5% 2%;
  border-radius: 2%;

  transform: translateX(-50%);

  color:white

}

/* ===== CENTRO ===== */

/* Sezione centrale con immagine e descrizione */
.sc-detail-center {
  max-height: 50%;
  padding: 1.5em 2em;
  gap: 2em;

  display: flex;

  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  overflow: hidden;
}

/* Contenitore per l'immagine */
.sc-detail-center-img {
  max-width: 28%;
  max-height: 98%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0.5em;
}

/* Immagine con scaling contenuto */
.sc-detail-center-img img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

/* Contenitore per il testo descrittivo */
.sc-detail-center-desc {
  position: relative;
  width: 80%;
  max-height: 97%;

  background-color: #f9f9f9;
  padding: 1em;
  font-size: 1em;
  box-sizing: border-box;
}

/* ===== FOOTER ===== */

/* Parte inferiore della scheda */
.sc-detail-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  box-sizing: border-box;

  height: 38%;
  padding-right: 5%;
  padding: 2%;
  gap: 2%;
}

/* Sezione per social/posizione */
.sc-detail-social {
  width: 34%;
  height: 98%;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  overflow: hidden;
}

/* Contenitori e stili per card social */
.main {
  display: flex;
  flex-direction: column;

  gap: 0.5em;
  margin-right: 7vw;
}

.up {
  display: flex;
  flex-direction: row;

  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;

  gap: 0.5em;
}

.card1,
.card2,
.card3,
.card4 {
  width: 90px;
  height: 90px;

  outline: none;
  border: none;

  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  transition: 0.2s ease-in-out;
}
.card2{
  border-radius: 5px 90px 5px 5px;
}
.card3{
  border-radius: 5px 5px 5px 90px;
}
.card4{
  border-radius: 5px 5px 90px 5px;
}

.instagram {
  fill: #cc39a4;
}

.twitter {
  fill: #03a9f4;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

.card1:hover .instagram {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03a9f4;
}

.card2:hover .twitter {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: rgb(216, 63, 63);
}

.card3:hover .posizione {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}

.card4:hover .site {
  stroke: white;
}
.card1,
.card2,
.card3,
.card4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Sezione dedicata all’accessibilità */
.sc-detail-footer-accessibility {
  width: 70%;
  max-width: 70%;
  height: 100%;
  max-height: 95%;

  background-color: #f9f9f9;
}

/* Contenitore di testo generico */
.sc-detail-testo {
  height: 100%;
  width: 100%;
}

/* ===== ZOOM ===== */

/* Stile per versione ingrandita del testo */
.sc-zoomed {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  z-index: 9999;

  background-color: white;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.4);

  height: 80%;
  width: 80%;
  padding: 2%;

  max-height: none;
  max-width: none;

  font-size: x-large;
  overflow: auto;
  border-radius: 5%;
}

/* ===== RESPONSIVE DESIGN ===== */
@media (max-width: 768px) {
  .sc-detail-container {
    width: 85%;
    height: 95%;
    max-height: 95%;

    overflow: hidden;
  }

  .sc-detail-header {
    flex-direction: row;
    padding: 1em;
    justify-content: center;
  }

  .sc-detail-back-button {
    height: 80%;
    width: 10%;
  }

  .sc-detail-header-title {
    font-size: 1.2em;
    max-width: 75%;

    white-space: normal;
    text-align: center;

    transform: none;

    position: static;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
  }

  .sc-detail-center {
    padding: 1em;

    flex-direction: column;
    max-height: 40%;

    align-items: center;
  }

  .sc-detail-center-img {
    max-width: 80%;
    max-height: 40%;
  }

  .sc-detail-center-desc {
    width: 100%;
    max-height: 40%;
    height: 40%;

    overflow-y: scroll;
  }

  .sc-detail-footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1em;
    height: 50%;
  }

  .sc-detail-footer-accessibility {
    max-height: 70%;
    max-width: 100%;
    width: 95%;
    height: 60%;
  }

  .sc-detail-social {
    height: 30%;
    width: 90%;
  }
  .main {
    width: 100%;
    height: 100%;
  }
  .sc-zoomed {
    max-width: 80%;
    width: 80%;
    padding: 5%;
  }
  .card1,
  .card2,
  .card3,
  .card4 {
    width: 30%;
    height: 60%;

    outline: none;
    border: none;

    background: white;

    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.15) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.2) 0px 1px 3px -1px;

    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;

  }

  .instagram,
  .twitter,
  .card3 svg,
  .card4 svg {
    height: 60%;
    width: 60%;
  }
}
