<div class="sc-detail-pagina">
  <div class="sc-detail-blur">
    <div class="sc-detail-container">
      <div class="sc-detail-header">
        <button
          class="sc-detail-back-button"
          routerLink="/homepage"
          aria-label="torna alla homepage"
        >
        <span class="tooltip">Home</span>
          <div [innerHTML]="Icone.getIcon('BackArrow')"></div>
        </button>
        <div class="sc-detail-header-title" tabindex="0">
          <span>{{this.struttura.nomeStruttura}}</span>
        </div>
      </div>

      <div class="sc-detail-center">
        <div class="sc-detail-center-img">
          <img [src]="
              immagine?.immagineUrl || 'assets/placeholder.png'
            "
            alt="{{ this.struttura.nomeStruttura }}"
            loading="lazy"/>

        </div>
        <div class="sc-detail-center-desc-img" *ngIf="isDescriptionActive">
          <span>{{immagine?.didascaliaImmagine}}</span>

        </div>
        <div class="sc-detail-center-desc">
          <app-detail-testo
            [testo]="this.struttura.descrizione"
            [testoSemplificato]="this.struttura.testoSemplificato"
            class="sc-detail-testo"
            (zoomClicked)="toggleZoom($event)"
            tabindex="0"
          ></app-detail-testo>
        </div>
      </div>

      <div class="sc-detail-footer">
        <div class="sc-detail-footer-accessibility">
          <app-detail-testo
            [disabilita]="this.disabilita"
            class="sc-detail-testo"
            (zoomClicked)="toggleZoom($event)"
            tabindex="0"
          ></app-detail-testo>
        </div>

        <div class="sc-detail-social">
          <div class="main">
            <div class="up">
              <a
                class="card1"
                [attr.href]="linkInstagram"
                [attr.target]="'_blank'"
                role="button"
                aria-label="apri link a instagram"
                tabindex="0"
                [ngClass]="!linkInstagram ? 'disabled':'' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0,0,256,256"
                  width="4vh"
                  height="4vh"
                  fill-rule="nonzero"
                  class="instagram"
                  aria-hidden="true"
                >
                  <g
                    fill-rule="nonzero"
                    stroke="none"
                    stroke-width="1"
                    stroke-linecap="butt"
                    stroke-linejoin="miter"
                    stroke-miterlimit="10"
                    stroke-dasharray=""
                    stroke-dashoffset="0"
                    font-family="none"
                    font-weight="none"
                    font-size="none"
                    text-anchor="none"
                    style="mix-blend-mode: normal"
                  >
                    <g transform="scale(8,8)">
                      <path
                        d="M11.46875,5c-3.55078,0 -6.46875,2.91406 -6.46875,6.46875v9.0625c0,3.55078 2.91406,6.46875 6.46875,6.46875h9.0625c3.55078,0 6.46875,-2.91406 6.46875,-6.46875v-9.0625c0,-3.55078 -2.91406,-6.46875 -6.46875,-6.46875zM11.46875,7h9.0625c2.47266,0 4.46875,1.99609 4.46875,4.46875v9.0625c0,2.47266 -1.99609,4.46875 -4.46875,4.46875h-9.0625c-2.47266,0 -4.46875,-1.99609 -4.46875,-4.46875v-9.0625c0,-2.47266 1.99609,-4.46875 4.46875,-4.46875zM21.90625,9.1875c-0.50391,0 -0.90625,0.40234 -0.90625,0.90625c0,0.50391 0.40234,0.90625 0.90625,0.90625c0.50391,0 0.90625,-0.40234 0.90625,-0.90625c0,-0.50391 -0.40234,-0.90625 -0.90625,-0.90625zM16,10c-3.30078,0 -6,2.69922 -6,6c0,3.30078 2.69922,6 6,6c3.30078,0 6,-2.69922 6,-6c0,-3.30078 -2.69922,-6 -6,-6zM16,12c2.22266,0 4,1.77734 4,4c0,2.22266 -1.77734,4 -4,4c-2.22266,0 -4,-1.77734 -4,-4c0,-2.22266 1.77734,-4 4,-4z"
                      ></path>
                    </g>
                  </g>
                </svg>
                <span class="tooltip" *ngIf="linkInstagram">Instagram</span>
                <span class="tooltip" *ngIf="!linkInstagram">non presente</span>
              </a>
              <a
                class="card2"
                [attr.href]="linkFacebook"
                [attr.target]="'_blank'"
                role="button"
                aria-label="apri link a facebook"
                tabindex="0"
                [ngClass]="!linkFacebook ? 'disabled':'' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  class="facebook"
                  aria-hidden="true"
                >
                  <path
                    d="M512 256C512 114.6 397.4 0 256 0S0 114.6 0 256C0 376 82.7 476.8 194.2 504.5V334.2H141.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H287V510.1C413.8 494.8 512 386.9 512 256h0z"
                  />
                </svg>
                <span class="tooltip" *ngIf="linkFacebook">Facebook</span>
                <span class="tooltip" *ngIf="!linkFacebook">non presente</span>
              </a>
            </div>

            <div class="down">
              <a
                class="card3"
                [attr.href]="linkPosizione"
                [attr.target]="'_blank'"
                role="button"
                aria-label="apri la posizione del museo"
                tabindex="0"
                [ngClass]="!linkPosizione ? 'disabled':'' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="4vh"
                  height="90% "
                  viewBox="0 0 20 20"
                  aria-hidden="true"
                >
                  <g fill="#e82121" class="posizione">
                    <path
                      d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"
                    />
                    <path
                      d="M8 8a2 2 0 1 1 0-4a2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6a3 3 0 0 0 0 6"
                    />
                  </g>
                </svg>
                <span class="tooltip" *ngIf="linkPosizione">Posizione</span>
                <span class="tooltip" *ngIf="!linkPosizione">non presente</span>
              </a>
              <a
                class="card4"
                [attr.href]="linkSito"
                [attr.target]="'_blank'"
                role="button"
                aria-label="apri link del sito del museo"
                tabindex="0"
                [ngClass]="!linkSito ? 'disabled':'' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="4vh"
                  height="4vh"
                  viewBox="0 0 14 14"
                  aria-hidden="true"
                >
                  <g
                    class="sito"
                    fill="none"
                    stroke="#4614d2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <circle cx="7" cy="7" r="6.5" />
                    <path
                      d="M.5 7h13m-4 0A11.22 11.22 0 0 1 7 13.5A11.22 11.22 0 0 1 4.5 7A11.22 11.22 0 0 1 7 .5A11.22 11.22 0 0 1 9.5 7Z"
                    />
                  </g>
                </svg>
                <span class="tooltip" *ngIf="linkSito">Sito web</span>
                <span class="tooltip" *ngIf="!linkSito">non presente</span>
              </a>
            </div>
          </div>
          <!-- end .main -->
        </div>
        <!-- end .sc-detail-social -->
      </div>
      <!-- end .sc-detail-footer -->
    </div>
    <!-- end .sc-detail-container -->
  </div>
  <!-- end .sc-detail-blur -->
</div>
<!-- end .sc-detail-pagina -->
