/* ====== NAVBAR PRINCIPALE ====== */
.sc-navbar {
  display: flex;
  align-content: center;
  justify-content: space-around;

  align-items: center;
  padding: 1vh 1vw;

  background-color: #f9f9f9;
  border-bottom: solid gray;

  height: 5vh;
  width: 100vw;
}

/* Spazio per il logo e relativo layout */
.sc-navbar-logo-space{
  height: 8vh;
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content:space-between ;
}



/* Contenitore della barra di ricerca */
.sc-navbar-search-container {
  background-color: #f9f9f9;

  height: 100%;
  width: 35%;

  display: flex;
  justify-content: center;
  align-items: center;
}



/* Input per la barra di ricerca */
.sc-navbar-search-input {
  background-color: #f3f4f6;


  width: 98%;
  height: 50%;

  padding: 1%;
  
  border-radius: 2em;
  border: solid #d1d5db;
  transition: border-color 0.5s;
}


/* Stile dell’input quando attivo */
.sc-navbar-search-input:focus {
  outline: none;

  border-color: #3b82f6;
  background-color: #ffffff;
  box-shadow: 0 0 0.2em #3b82f640;
}


/* Contenitore per il link alla home */
.sc-navbar-home {
  background-color: #f9f9f9;

  height: 70%;

  display: flex;
  justify-content: center;
  align-items: center;
  
  cursor: pointer;
  border:2px solid #00b9ee;
  border-radius: 2em;
}


/* Link testuale per la home */
.sc-navbar-home a {
  font-style: normal;
  color: black;
  text-decoration: none;
  transition: color 0.5s;
}

.sc-navbar-home:hover {
  color: #3b82f6;
  background-color: #00b9ee;
}

/* Wrapper per il pulsante a discesa */

.sc-navbar-dropdown-wrapper {
  height: 100%;
  width: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


/* Bottone del menu a discesa */
.sc-navbar-dropdown-button {
  background-color: #f3f4f6;

  cursor: pointer;

  height: 70%;
  width: 100%;

  border-radius: 2em;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.3s;

  border:2px solid #00b9ee;

}

.sc-navbar-dropdown-button:hover {
  transform: translateY(-5%);
  background-color: #00b9ee;
  color:white;
}


/* Menu dropdown visibile al click */
.sc-navbar-dropdown-menu {
  position: absolute;
  top: 120%;
  right: 0;

  width: 100%;

  background-color:#00b9ee;

  border: 0.2em solid #e5e7eb;
  border-radius: 5%;
  box-shadow: 0 0.6em 1.2em rgba(0, 0, 0, 0.1);

  padding: 2% 0;

  display: flex;
  flex-direction: column;

  z-index: 1000;

  animation: fadeIn 0.3s ease-in-out;
}


.sc-navbar-dropdown-menu>span {
  padding: 6% 10%;
  font-size: 90%;

  color: #1f2937;

  cursor: pointer;

  transition: background-color 0.3s, color 0.3s;
  display: flex;
}


.sc-navbar-dropdown-menu span:hover {
  background-color: #167BAA;

  color: #2563eb;

  font-weight: 500;

  border-left: 3% solid #2563eb;
}


/* Nascondi elementi */

.hidden {
  display: none;
}

.sc-navbar-logo-space img{
  height: 50%;
  width: 40%;
}

/*===== menu accessibilita===*/


.slider {
  /* slider */
  --slider-width: 100%;
  --slider-height: 6px;
  --slider-bg: rgb(82, 82, 82);
  --slider-border-radius: 999px;
  /* level */
  --level-color: #ffffff;
  --level-transition-duration: .1s;
  /* icon */
  --icon-margin: 15px;
  --icon-color: var(--slider-bg);
  --icon-size: 25px;
}

.slider {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;

  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


/* Icona */
.slider svg{
  margin-right: 15%;
}



/* Contenitore dell’icona */
.slider .volume {
  display: inline-block;
  vertical-align: top;

  margin-right: var(--icon-margin);
  color: var(--icon-color);
  width: var(--icon-size);

  height: auto;
}


/* Slider */
.slider .level {
  -webkit-appearance: none;
  -moz-appearance: none;

  appearance: none;

  width: var(--slider-width);
  height: var(--slider-height);

  background: var(--slider-bg);

  overflow: hidden;
  border-radius: var(--slider-border-radius);

  -webkit-transition: height var(--level-transition-duration);
  -o-transition: height var(--level-transition-duration);

  transition: height var(--level-transition-duration);

  cursor: inherit;
}

/* Effetto grafico del livello (riempimento) */
.slider .level::-webkit-slider-thumb {
  -webkit-appearance: none;

  width: 0;
  height: 0;

  -webkit-box-shadow: -200px 0 0 200px var(--level-color);
  box-shadow: -200px 0 0 200px var(--level-color);
}


/* Effetto hover: slider più spesso */
.slider:hover .level {

  height: calc(var(--slider-height) * 2);
}

/* ====== ANIMAZIONE MENU ====== */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.label {

  height: 1.5vh;
  width: 6.8vw;
  background-color: #ffffff;

  margin-left: 4%;

  border-radius: 30px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

/* .label:hover {
  -webkit-transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
  transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
}

#checkbox:checked ~ .label:hover {
  -webkit-transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
  transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
} */

#checkbox {
  display: none;
}

#checkbox:checked ~ .label::before {

  left: 4.70vw;
  background-color: #00f74e;
  /* background-image: linear-gradient(315deg, #000000 0%, #414141 70%); */

  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.label::before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #ff0000;
  /*dice da dove parte*/
  left: 0.1vw;
  /* -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3),
    10px 10px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3); */
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 768px) {
  
  .sc-navbar{
    width: 98%;
  }
  .sc-navbar-dropdown-wrapper{
    width: 25%;
  }
  .sc-navbar-logo-space{
    width: 20%;
  }
  .sc-navbar-search-input{
    width: 70%;
  }
  .label{
    width: 50px;
  }
  #checkbox:checked ~ .label::before{
    left:35px;
  }
  .label::before{
    left:0px;
  }
}
