/* ====== NAVBAR PRINCIPALE ====== */

.sc-navbar {
  display: flex;
  align-content: center;
  justify-content: space-around;

  align-items: center;
  padding: 1vh 1vw;

  background-color: #f9f9f9;
  border-bottom: solid gray;

  height: 5vh;
  width: 100vw;
}

/* Spazio per il logo e relativo layout */
.sc-navbar-logo-space {
  height: 9vh;
  width: 6vw;
  display: flex;
  align-items: center;
}
.sc-navbar-logo-space img.logo{
  width: 90%;
}

/* Contenitore della barra di ricerca */
.sc-navbar-search-container {
  background-color: #f9f9f9;

  height: 100%;
  width: 35%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Input per la barra di ricerca */
.sc-navbar-search-input {
  background-color: #f3f4f6;

  width: 98%;
  height: 50%;

  padding: 1%;

  border-radius: 2em;
  border: solid #d1d5db;
  transition: border-color 0.5s;
}

/* Stile dell’input quando attivo */
.sc-navbar-search-input:focus {
  outline: none;

  border-color:#00b9ee;
  background-color: #ffffff;
  box-shadow: 0 0 0.2em #3b82f640;
}
.sc-navbar-search-input.pulse{
  animation: pulse 2s infinite ease-in-out;
}


@keyframes pulse{
   0%,
  100% {
    box-shadow: 0 0 20px  #3b82f6 ;
  }
  50% {
    box-shadow: 0 0 30px 15px #00b9ee;
  }
}



/* Contenitore per il link alla home */
.sc-navbar-home {
  width: 10%;
}
.sc-navbar-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: relative;

  width: 30%;
}

/* stile dei bottoni*/
.sc-navbar-button {
  position: relative;

  overflow: hidden;

  height: 4vh;
  width: 8vw;

  font-size: clamp(16px, 16px, 24px);
  font-style: normal;

  color: #2b2a2a;
  background-color: white;

  border: 2px solid #00b9ee;
  border-radius: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.sc-navbar-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border-radius: inherit;

  background: #00b9ee;

  transform: scaleX(0);
  transform-origin: 0 50%;

  transition: all 0.475s;
  z-index: 0;
}

.sc-navbar-button:hover {
  color: white;
}

.sc-navbar-button:hover::before {
  transform: scaleX(1);
}

.sc-navbar-button span {
  z-index: 1;
  max-width: 100%;
  max-height: 100%;
  text-overflow: ellipsis;
  font-size:1em;
}



.sc-navbar-buttonCAA {
  font-family: var(--fontName) !important;

  box-sizing: border-box;

  white-space: nowrap; /* testo su una riga sola */
  overflow: hidden; /* taglia il testo */
  text-overflow: ellipsis; /* mostra i puntini se il testo non ci sta */

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Wrapper per il pulsante a discesa */
.sc-navbar-dropdown-wrapper {
  width: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Bottone del menu a discesa */
.sc-navbar-dropdown-button {
  width: 100%;
}

/* Menu dropdown visibile al click */
.sc-navbar-dropdown-menu {
  position: absolute;

  top: 120%;
  right: 0;

  width: 30%;
  min-width: 5em;

  background-color: #00b9ee;

  border: 0.2em solid #ffffff;
  border-radius: 5%;
  box-shadow: 0 0.6em 1.2em rgba(0, 0, 0, 0.1);

  padding: 2% 0;

  display: flex;
  flex-direction: column;

  z-index: 1000;

  animation: fadeIn 0.3s ease-in-out;
}

.sc-navbar-dropdown-menu > span {
  padding: 6% 10%;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 3%;

  color: #1f2937;

  cursor: pointer;

  transition: background-color 0.3s, color 0.3s;
  display: flex;
}

.sc-navbar-dropdown-menu span:hover {
  background-color: #fafafa;

  color: #2563eb;

  font-weight: 500;

  border-left: 3% solid #2563eb;
}
.sc-navbar-dropdown-menu span:hover > .slider {
  --level-color: #00b9ee;
}
.sc-navbar-dropdown-menu span:hover label > label {
  border: #323232 solid 1px;
}

/* Nascondi elementi */

.hidden {
  display: none;
}

.sc-navbar-logo-space img {
  height: 90%;
  width: 50%;
}

/*===Più/ Meno Slider===*/

.sc-navbar-button-range {
  display: flex;
  padding-left: 3.2vw;
  padding-right: 1.5vw;
  justify-content: space-between;
  height: 5px;
  z-index: 9999;
  margin-bottom: 3%;
}

.sc-navbar-button-range input[type="range"] {
  flex: 1;
}

.sc-navbar-button-range button {
  display: flex;
  align-items: center;

  cursor: pointer;

  height: 12px;

  border: none;
  background-color: #00b9ee;
}

/*===== menu accessibilita===*/

.slider {
  /* slider */
  --slider-width: 100%;
  --slider-height: 6px;
  --slider-bg: rgb(82, 82, 82);
  --slider-border-radius: 999px;
  /* level */
  --level-color: #ffffff;
  --level-transition-duration: 0.1s;
  /* icon */
  --icon-margin: 15px;
  --icon-color: var(--slider-bg);
  --icon-size: 25px;
}

.slider {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;

  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Icona */
.slider svg {
  margin-right: 15%;
}

/* Contenitore dell’icona */
.slider .volume {
  display: inline-block;
  vertical-align: top;

  margin-right: var(--icon-margin);
  color: var(--icon-color);
  width: var(--icon-size);

  height: auto;
}

/* Slider */
.slider .level {
  -webkit-appearance: none;
  -moz-appearance: none;

  appearance: none;

  width: var(--slider-width);
  height: var(--slider-height);

  background: var(--slider-bg);

  overflow: hidden;
  border-radius: var(--slider-border-radius);

  -webkit-transition: height var(--level-transition-duration);
  -o-transition: height var(--level-transition-duration);

  transition: height var(--level-transition-duration);

  cursor: inherit;
}

/* Effetto grafico del livello (riempimento) */
.slider .level::-webkit-slider-thumb {
  -webkit-appearance: none;

  width: 0;
  height: 0;

  -webkit-box-shadow: -200px 0 0 200px var(--level-color);
  box-shadow: -200px 0 0 200px var(--level-color);
}

/* Effetto hover: slider più spesso */
.slider:hover .level {
  height: calc(var(--slider-height) * 2);
}

.sc-navbar-accessibility{
  background-color: #00b9ee;
  color: white;
  border: none;
}
.sc-navbar-accessibility:hover{
  border: 2px solid #00b9ee;
  color: black;
}
.sc-navbar-accessibility::before{
  background-color: white;

}








/* ====== ANIMAZIONE MENU ====== */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.label {
  margin-top: 1%;
  height: 2.5vh;
  width: 6vw;

  background-color: #ffffff;

  margin-left: 2%;

  border-radius: 30px;

  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  cursor: pointer;

  position: relative;

  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

/* .label:hover {
  -webkit-transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
  transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
}

#checkbox:checked ~ .label:hover {
  -webkit-transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
  transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
} */

.selector {
  opacity: 0;
}

.selector:checked ~ .label::before {
  left: 3.8vw;

  background-color: #00f74e;

  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.label::before {
  position: absolute;
  left: 0vw;

  content: "";

  height: 1.5vh;
  width: 1.5vh;
  border-radius: 50%;
  background-color: #ff0000;

  left: 0.1vw;

  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/*=====DESCRIZIONE ACCESSIBILITÀ======*/

.sc-navbar-dropdown-menu span {
  position: relative;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  transform: translateX(-50%);

  background-color: #000;
  color: white;

  right: 2vw;
  border-radius: 12px;
  font-size: 0.75em;
  white-space: nowrap;

  opacity: 0;
  z-index: 10;
  pointer-events: none;

  transition: opacity 0.3s ease, transform 0.3s ease;
}

.sc-navbar-dropdown-menu span:hover .tooltip {
  opacity: 1;
  transform: translateX(-70%) translateY(-100%);
  background-color: white;
  color: black;
  height: 4vh;
  width: 18vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*====PULSANTE RESETTA=====*/
.sc-navbar-reset-options {
  margin-top: 1vh;
  position: relative;

  overflow: hidden;

  height: 70%;

  font-size: clamp(16px, 16px, 24px);
  font-style: normal;

  color: #2b2a2a;
  background-color: #00b9ee;

  border: 2px solid white;
  border-radius: 2em;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  font-family: var(--fontName) !important;
  font-size: 18px;
  width: 90%;
  height: 40%;
  margin-left: 5%;
  margin-right: 5%;
}

.sc-navbar-reset-options::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border-radius: inherit;

  background: white;

  transform: scaleX(0);
  transform-origin: 0 50%;

  transition: all 0.475s;
  z-index: 0;
}

.sc-navbar-reset-options:hover {
  color: #00b9ee;
}

.sc-navbar-reset-options:hover::before {
  transform: scaleX(1);
}

.sc-navbar-reset-options span {
  z-index: 1;
}

.sc-navbar-mobile-wrapper.open {
  display: flex;
}
.sc-navbar-mobile-hamburger {
  display: none;
}
.sc-navbar-mobile-wrapper {
  display: none;
}
.mobile-buttons {
  display: none;
}

@media (max-width: 768px) {
  .sc-navbar {
    width: 98%;
  }
  .sc-navbar-dropdown-wrapper {
    width: 100%;
  }
  .sc-navbar-logo-space {
    width: 20%;
  }
  .sc-navbar-search-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40%;
  }
  .sc-navbar-search-input {
    width: 100%;
    display: inline-block;
  }
  .sc-navbar-logo-space img {
    width: 20vw;
    height: 8vh;
  }

  .sc-navbar-dropdown-menu .label {
    width: 25vw;
    height: 2vh;

    margin-left: auto;
    margin-right: auto;
  }
  .didascalia{
    display: none;
  }

  .label {
    width: 100%;
  }

  .selector:checked ~ .label::before {
    left: 16.5vw;
  }
  label .label::before {
    left: 0;
  }

  .sc-navbar-dropdown-menu {
    width: 85%;

    top: 78%;
    right: 100%;
  }
  .sc-navbar-dropdown-menu .label {
    width: 100px;
    height: 25px;

    margin-left: auto;
    margin-right: auto;
  }

  .sc-navbar-button-range {
    display: flex;
    justify-content: space-around;
    height: 5px;
    z-index: 9999;
    margin-bottom: 3%;
    padding-left: 7vw;
    padding-right: 0vw;
  }

  .tooltip {
    display: none;
    visibility: hidden;
    overflow: hidden;
  }
  .hidden {
    display: none;
  }

  .sc-navbar-mobile-hamburger {
    display: flex;

    cursor: pointer;
  }
  .sc-navbar-mobile-hamburger:hover {
    scale: 1.1;
  }
  .sc-navbar-buttons {
    display: none;
  }
  .sc-navbar-mobile-wrapper {
    position: absolute;
    top: 7%;
    right: 2%;

    height: 20vh;
    width: 40vw;

    padding-top: 2%;
    padding-bottom: 2%;

    background: white;
    z-index: 1;

    border-radius: 25px;
  }
  .sc-navbar-div-manual {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .mobile-buttons {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .sc-navbar-button {
    width: 80%;
  }
}
