<div
  class="select"
  #selectContainer
  [class.aperto]="menuAperto"
  (focusout)="onfocusOut($event)"
>
  <div class="selected">
    <input
      name="option"
      type="text"
      checked=""
      placeholder=" ricerca per {{ nomeFiltro }}"
      [(ngModel)]="filtro"
      (input)="onFiltroChange(); openMenu()"
      (focus)="InviaEvento(nomeFiltro); openMenu()"
    />
    <svg
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      height="1em"
      viewBox="0 0 512 512"
      class="arrow"
    >
     
    </svg>
  </div>
  <div class="options">
    <div *ngFor="let element of filteredOptionsArray">
      <label>
        <span> {{ element }}</span>
        <input
          class="options-checkbox"
          type="checkbox"
          laceholder=".."
          [value]="element"
          [checked]="ArrayCheckedLocal.includes(element)"
          (change)="onCheckboxChanges($event, element)"
        />
      </label>
    </div>
  </div>
</div>
