/* Container principale del select personalizzato */
.select {
  width: fit-content;
  min-width: 4vw;

  cursor: pointer;
  color: white;
  overflow: visible;
  
  display: inline-block;
  position: relative;
  
  transition: 300ms;
}

/* Container principale del select personalizzato */
.selected {
  background-color: #47b4e7;

  padding: 5px;
  margin-bottom: 3px;
  border-radius: 5px;
  position: relative;

  z-index: 2;
  font-size: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}
/* Input di testo all'interno della selezione 
.selected input{
  
}*/

/* Icona freccia per l'espansione delle opzioni */
.arrow {
  position: relative;
  right: 0px;
  height: 10px;
  width: 25px;

  fill: white;
  
  z-index: 100000;
  transition: 300ms;
  transform: rotate(-90deg);
}

/* Contenitore delle opzioni a discesa */
.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1;

  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  background-color:#47b4e7;

  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease, visibility 300ms ease;
}
/* Etichette delle opzioni (testo + checkbox) */
.options label {
  display: flex;             
  justify-content: space-between; 
  align-items: center;      

  width: 100%;
}

/* Quando si passa sopra il select: mostra le opzioni */
.select:hover > .options,
.select.aperto > .options {
  opacity: 1;
  visibility: visible;
}

/* Ruota la freccia quando il menu è espanso */
.select:hover > .selected .arrow,
.select.aperto > .selected .arrow {
  transform: rotate(0deg);
}

/* Singola opzione nella lista */
.option {
  width: 150px;
  padding: 5px;

  border-radius: 5px;
  font-size: 15px;
  transition: 300ms;
  
  background-color: #47b4e7;
}

/* Effetto hover su una singola opzione */
.option:hover {
  background-color: #fbfbfb;
}


/* Nasconde i radio per opzioni filtrate */
.options input[type="radio"] {
  display: none;
}

/* Mostra il testo dell'opzione tramite attributo custom */
.options label::before {
  content: attr(data-txt);
}

/* Nasconde l’etichetta dell’opzione selezionata */
.options input[type="radio"]:checked + label {
  display: none;
}

  