/* Container principale del select personalizzato */
.select {
  width: 18vw;

  cursor: pointer;
  color: #ffffff;
  overflow: visible;

  display: inline-block;
  position: relative;

  transition: 300ms ease-in-out;
}

/* Container principale del select personalizzato */
.selected {
  background-color: #47b4e7;

  padding: 5px;
  margin-bottom: 3px;
  border-radius: 5px;
  position: relative;

  z-index: 2;
  font-size: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.selected input {
  background: transparent;

  border: none;

  outline: none;
  color: white;
  font-size: 15px;
  width: 100%;
  padding: 5px 0;
  position: relative;
  z-index: 1;
  font-family: var(--fontName) !important;
}

.selected input::placeholder {
  color: white;

  opacity: 1;
}

/* nasconde il placeholder */
.selected:focus-within input::placeholder {
  animation-duration: 250ms;
  animation: placeholderFadeOut;

  opacity: 0;
}

/* animazione della linea */
.selected input::before,
.selected input::after {
  content: "";

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  pointer-events: none;
  transform-origin: left center;

  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  will-change: transform;

  border-bottom-style: solid;
  z-index: 0;
}

.selected input::before {
  border-bottom-width: 1px;
  border-bottom-color: rgb(255, 255, 255);

  transform: scaleX(1);
}

.selected input::after {
  border-bottom-width: 2px;
  border-bottom-color: #ffffff;

  transform: scaleX(0);
}

.selected {
  position: relative;
}

.selected::before,
.selected::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;

  bottom: 5px;

  pointer-events: none;
  transform-origin: left center;

  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  will-change: transform;

  border-bottom-style: solid;
  border-radius: 2px;

  z-index: 1;
}

.selected::before {
  border-bottom-width: 1px;
  border-bottom-color: rgba(255, 255, 255, 0.42);
  transform: scaleX(1);
}

.selected::after {
  border-bottom-width: 2px;
  border-bottom-color: #ffffff;

  transition: 500ms;
  transform: scaleX(0);
}

/*animazione focus*/
.selected:focus-within::after {
  transition: 500ms;
  transform: scaleX(1);
}

.selected:focus-within::before {
  border-bottom-color: #ffffff;
}

/* Icona freccia per l'espansione delle opzioni */
.arrow {
  position: relative;
  top: 0.1vh;
  right: 0px;
  height: 30px;
  width: 30px;

  fill: white;

  z-index: 100000;
  transition: 300ms;
  transform: rotate(-90deg);
}

/* Contenitore delle opzioni a discesa */
.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 95%;

  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  background-color: #47b4e7;

  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease, visibility 300ms ease;

  z-index: 9999;
}

/* Etichette delle opzioni (testo + checkbox) */
.options label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;

  width: 100%;
}
.options label span {
  width: 90%;
  max-width: 90%;
}
.options label input {
  max-width: 10%;
  max-height: 10%;
}

.ng-star-inserted {
  padding: 2%;
}
.ng-star-inserted span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  width: 100%;
}
.ng-star-inserted:hover {
  background-color: #e0f0ff;
  color: #2563eb;

  box-shadow: 0 2px 8px rgba(37, 99, 235, 0.2);

  border-radius: 5px;

  cursor: pointer;

  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

/* Quando si passa sopra il select: mostra le opzioni */
.select:hover > .options,
.select.aperto > .options {
  opacity: 1;
  visibility: visible;
}

/* Ruota la freccia quando il menu è espanso */
.select:hover > .selected .arrow,
.select.aperto > .selected .arrow {
  transform: rotate(0deg);
}

/* Singola opzione nella lista */
.option {
  width: 150px;
  padding: 5px;

  border-radius: 5px;
  font-size: 15px;
  transition: 300ms;

  background-color: #47b4e7;
}

/* Effetto hover su una singola opzione */
.option:hover {
  background-color: #ffffff;
}

/* Nasconde i radio per opzioni filtrate */
.options input[type="radio"] {
  display: none;
}

/* Mostra il testo dell'opzione tramite attributo custom */
.options label::before {
  content: attr(data-txt);
}

/* Nasconde l’etichetta dell’opzione selezionata */
.options input[type="radio"]:checked + label {
  display: none;
}

@media (max-width: 768px) {
  .select {
    width: 100%;
    font-size: 14px;
  }

  .selected,
  .options {
    font-size: 14px;
    padding: 10px 12px;
  }
  .options {
    width: 86%;
  }

  .selected {
    font-size: 14px;
    padding: 10px 12px;
    height: 0.4vh;
    width: 33vw;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
}
