<div class="sc-detail-testo-container">
  <div *ngIf="hasAccessibilita; else normale" class="sc-detail-testo-text-accessibilita">
    <div *ngFor="let d of disabilita">

      <span *ngIf="d.flgWarning && !d.flgDisabilita"  [innerHTML]="Icone.getIcon('warning')" style="margin-right: 2%;"></span>
      <span [innerHTML]="Icone.getIcon(d.categoria.nome.toLowerCase())"></span>
      <span *ngIf="!isTextSemplifiedActive"> {{ d.categoria.nome.toLowerCase() }} - {{ d.descrizione }}</span>
      <span *ngIf="isTextSemplifiedActive"> {{ d.categoria.nome.toLowerCase()  }} - {{d.testoSemplice}} </span>

      <br aria-hidden="true" />
    </div>
  </div>
  <ng-template #normale>
    <div class="sc-detail-testo-text" *ngIf="!isTextSemplifiedActive">{{ testo }}</div>
    <div class="sc-detail-testo-text-img" *ngIf="isTextSemplifiedActive">{{testoSemplificato}}</div>
  </ng-template>
  <div>
    <div *ngIf="!parentHasZoomClass; else zoomOut" class="sc-detail-testo-button" (click)="onZoomClick($event)"
      [innerHTML]="Icone.getIcon('zoomIn')" role="button" aria-label="ingrandisci il testo" tabindex="0"></div>
    <ng-template #zoomOut>
      <div class="sc-detail-testo-button" (click)="onZoomClick($event)" [innerHTML]="Icone.getIcon('zoomOut')"
        aria-label="rimpicciolisci il testo" role="button" tabindex="0"></div>
    </ng-template>
  </div>
</div>