<div class="sc-detail-testo-container">
    

    <div *ngIf="hasAccessibilita; else normale" class="sc-detail-testo-text-accessibilita" >
        <div *ngFor="let item of struttura?.disabilita">
            <span [innerHTML]="Icone.getIcon(item.categoria)"></span>
            <span> {{item.categoria}} - {{item.descrizione}}</span>
            <br>
        </div>
    </div>
    <ng-template #normale><div  class="sc-detail-testo-text" >{{testo}}</div></ng-template>
    <div>
         <div *ngIf="!parentHasZoomClass; else zoomOut" class="sc-detail-testo-button" (click)="onZoomClick($event)" [innerHTML]="Icone.getIcon('zoomIn')" ></div>
         <ng-template #zoomOut> 
         <div class="sc-detail-testo-button" (click)="onZoomClick($event)" [innerHTML]="Icone.getIcon('zoomOut')" ></div>
        </ng-template>
         
    </div>


   
</div>
