.sc-detail-testo-button {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 12%;
    cursor: pointer;

    height: 11%;
    width: 3%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sc-detail-testo-container {
    position: relative; 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    height: 98%;
    width: 98%;

    margin: 2%;

    overflow: hidden;
    
}

.sc-detail-testo-button:hover{
     background-color: #33333324;
  transform: translateY(-5%);
}


@media (max-width: 768px) {
    .sc-detail-testo-button{
        height: 15%;
        width: 7%;
    }
}