/* Contenitore principale del componente testo */
.sc-detail-testo-container {
  position: relative;
  display: flex;
  flex-flow: row wrap;

  height: 100%;
  width: 97%;

  overflow: hidden;
}
/*Contenitore principale del testo semplificato*/
.sc-detail-testo-text-semplified {
  position: relative;
  display: flex;
  flex-flow: row wrap;

  height: 100%;
  width: 97%;

  overflow: hidden;
}

/* Contenitore per il testo normale */
.sc-detail-testo-text,
.sc-detail-testo-text-accessibilita {
  max-height: 100%;
  max-width: 95%;

  overflow-x: hidden;
  overflow-y: auto;

  line-height: 1.6;
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
/* Chrome, Edge, Safari */
.sc-detail-testo-text::-webkit-scrollbar,
.sc-detail-testo-text-accessibilita::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

.sc-detail-testo-text::-webkit-scrollbar-thumb,
.sc-detail-testo-text-accessibilita::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 3px;
}

/* Al passaggio del mouse, mostra lo scroll thumb */
.sc-detail-testo-text:hover::-webkit-scrollbar-thumb,
.sc-detail-testo-text-accessibilita:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Testo di accessibilità: mostrato a colonne */
.sc-detail-testo-text-accessibilita {
  flex-flow: column wrap;

  column-count: 2;
  column-gap: 8vw;
}

/* Pulsante per zoomare il testo */
.sc-detail-testo-button {
  position: absolute;
  bottom: 2%;
  right: 1%;

  border-radius: 12%;
  cursor: pointer;

  height: 15%;
  width: 5%;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/* Effetto hover sul pulsante */
.sc-detail-testo-button:hover {
  transform: translateY(-5%);
}

/* Versione responsive per schermi piccoli */
@media (max-width: 768px) {
  .sc-detail-testo-button {
    height: 8%;
    width: 7%;
  }

  .sc-detail-testo-container {
    height: 90%;
    width: 90%;
  }
}
