:root{
    --fontSize: 16px;
}

body{
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--fontSize);
}

.content{
    line-height: 1.6;
}