/* Reset globale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Contenitore principale della pagina */
.sc-pagina {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  background-size: cover;
  background-image: url('/assets/sc-background-blurred.png');
}