<div class="sc-filters-container">
  <div class="sc-filters">
    <app-typeahead
      #disabilitaComp
      nomeFiltro="Disabilita"
      (evento)="getDatiDisabilita($event)"
      [Array$]="DatiDisabilita"
      (ArrayChecked)="setDisabilitaSelected($event)"
    ></app-typeahead>
    <app-typeahead
      #tipoComp
      nomeFiltro="Tipo"
      (evento)="getDatiTipo($event)"
      [Array$]="DatiTipo"
      (ArrayChecked)="setTipiSelected($event)"
    ></app-typeahead>
    <app-typeahead
      #provinciaComp
      nomeFiltro="Province"
      (evento)="getDatiProvince($event)"
      [Array$]="DatiProvince"
      (ArrayChecked)="setProvinceSelected($event)"
    ></app-typeahead>
  </div>
  <div class="buttons">
    <div
      (click)="applyFilter()"
      class="filters-button-apply"
      role="button"
      tabindex="0"
      (keydown.enter)="applyFilter()"
    >
      <div class="svg-wrapper">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          fill="currentColor"
          class="bi bi-check"
          viewBox="0 0 16 16"
        >
          <path
            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"
          />
        </svg>
      </div>
      <span>applica</span>
    </div>

    <div
      (click)="resetFilters()"
      class="filters-button-reset"
      role="button"
      tabindex="0"
      (keydown.enter)="resetFilters()"
    >
      <div class="svg-wrapper">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-arrow-clockwise"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"
          />
          <path
            d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"
          />
        </svg>
      </div>
      <span>resetta</span>
    </div>
  </div>
</div>
