*{
    height: 100%;
    width: 100%;
}
.sc-filters-container{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.filters-button{
    cursor: pointer;
}
