<div class="sc-homepage-start">
  <div (click)="iconClick()" role="button" tabindex="0" class="sc-homepage-partner-info-svg">
    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="30px" height="30px"
      class="sc-homepage-icon">
      <path fill="black"
        d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z">
      </path>
    </svg>
    <div class="sc-homepage-partner-info hidden">
      <div class="sc-homepage-partner-info-text">
        <img src="../../assets/logo1.png" alt="Logo 1" class="logo" aria-hidden="true" />
        <img src="../../assets/kymos.png" alt="Logo 2" class="logo" aria-hidden="true" />
        <img src="../../assets/autismoveneto.png" alt="Logo 3" class="logo" aria-hidden="true" />
      </div>
      <div class="sc-homepage-partner-info-testo">
        <span>
          Scatola Cultura

          Scatola Cultura S.p.A. - Società di diritto italiano con sede legale in via Emilia Est n. 1163, Modena,
          Italia, numero del Registro Imprese di Modena, P. IVA e codice fiscale 00159560366 e capitale sociale di Euro
          20.260.000
          Copyright 2025 - All rights reserved
        </span>
      </div>
    </div>
  </div>
  <div class="sc-homepage-filter-container">
    <div class="mobileButton">
      <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="30px" height="30px"
        class="arrow" (click)="toggleMobileFilters()">
        <path fill="white"
          d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z">
        </path>
      </svg>
    </div>

    <div class="sc-homepage-filter hiddenMobile" [class.hiddenMobile]="!flgFiltriMobile">
      <app-filtri (DisabilitaSelected)="FiltriDisabilita = $event" (TipiSelected)="FiltriTipi = $event"
        (ProvinceSelected)="FiltriProvince = $event; filtraStrutture()"></app-filtri>
    </div>
  </div>

  <div *ngIf="flgTrovati; else nessunaStruttura" class="sc-homepage-musei-container">
    <div class="sc-homepage-museo-card" *ngFor="let item of struttureFiltrate"
      [routerLink]="['/detail', item.idStruttura]" role="button">
      <div class="sc-homepage-card-img-border">
        <div class="sc-homepage-card-img">
          <img [src]="
            item.immagine?.byteImmagine
            ? 'data:image/jpeg;base64,' + item.immagine.byteImmagine
            : 'assets/placeholder.png'
            " alt="{{ item.nomeStruttura }}" />
        </div>

        <div class="sc-homepage-card-img-text" *ngIf="isDescriptionActive">
          <span>{{item.immagine.didascaliaImmagine}}</span>
        </div>
      </div>
      <div class="sc-homepage-card-title">
        <span>{{item.nomeStruttura}}</span>
      </div>
      <div class="sc-homepage-card-info"></div>
    </div>
  </div>

  <ng-template #nessunaStruttura>
    <div class="card">
      <div class="content" tabindex="0">
        <div class="desc">nessuna struttura trovata</div>
        <div class="actions">
          <div>
            <div class="reset" role="button" (click)="resetFiltri()" tabindex="0">resetta i filtri</div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>