<div class="sc-homepage-start">
    <div class="sc-homepage-blur">
        <div class="sc-homepage-filter-container">
            <div class="sc-homepage-filter">
                <span> Qui conterrà i filtri</span>
            </div>
            <!--deve contenere tutti i filtri-->
        </div>
        <div class="sc-homepage-musei-container" >
            <div class="sc-homepage-museo-card" *ngFor="let item of struttureFiltrate" [routerLink]="['/detail', item.idStruttura]" >
                <div class="sc-homepage-card-img" >
                    <img [src]="" alt="{{item.nomeStruttura}}" width="300">\
                </div>
                <div class="sc-homepage-card-title">
                    <span>{{ item.nomeStruttura }}</span>
                </div>
                <div class="sc-homepage-card-info"></div>
            </div>
        </div>
    </div>
</div>