<!--Simone Negro, 05/06/25, inserimento dei div -->
<div class="sc-homepage-start">
    <div class="sc-homepage-filtri">
        <!--deve contenere tutti i filtri-->
    </div>

    <div class="sc-homepage-musei-container">
        <div class="sc-homepage-museo-card" *ngFor="let item of items">
            <div class="sc-homepage-card-img">
                <img src="https://picsum.photos/200/300" [alt]="item.nome" width="300">
            </div>
            <div class="sc-homepage-card-title">
                <span>{{ item.nome }}</span>
            </div>
            <div class="sc-homepage-card-info"></div>
        </div>
    </div>
</div>