/*Simone*/
/*contenitore di tutta la pagina*/
.sc-homepage-start {
  overflow: hidden;
  width: 100vw;
  height: 93vh;

  /* font-size: var(--font-size); */

  max-width: 100vw;
  max-height: 93vh;

  background-image: url("../../assets/sc-background.webp");
  background-size: cover;
}
/*sfuocata del schermo figlio che permette di vedere la foto*/
.sc-homepage-blur {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
/*contenitore dei filtri*/
.sc-homepage-filter-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 11vh;
  width: 90vw;

  padding: 1.5vh;
}
/*filtri*/
.sc-homepage-filter {
  width: 90vw;
  height: 10vh;

  border-radius: 25px;
}
/*contenitore di tutti i musei*/
.sc-homepage-musei-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding:1em;


  height: 75vh;
  width: 90vw;

  overflow-y: scroll;
  overflow-x: hidden;
}
/*css di ogni museo*/
.sc-homepage-museo-card {
  width: 25vw;
  height: 47%;


  transition: 350ms;
  box-sizing: border-box;
  margin-bottom : 2%;
  overflow: hidden;

  background-color:#1C9CD9;


 
  border-radius: 25px;

  border:2px solid white;


  transition: 350ms;
  margin-bottom: 2%;

  overflow: hidden;

  box-sizing: border-box;
  background-color: #1c9cd9;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*animazione dell'intero museo, immagine e testo*/
.sc-homepage-museo-card:hover {


  background-color: #1C9CD9;

  transform: scale(1.05);


  transition: 350ms;
  cursor: pointer;
}
/*div della immagine*/
.sc-homepage-card-img {
  display: flex;

  justify-content: flex-start;
  width: 26.5vw;

  height: 22vh;
  max-width: 26.5vw;
  max-height: 22vh;
}
/*configurazione dell'immagine*/
.sc-homepage-card-img img {
  object-fit: cover;

  width: 26.5vw;
  height: 22vh;
  max-width: 26.5vw;
  max-height: 22vh;
}

/*configurazione div delle immagini*/
.sc-homepage-card-img div {
  overflow: hidden;

  width: 26.5vw;
  height: 22vh;
  max-width: 26.5vw;
  max-height: 22vh;
}
/*configurazione della descrizione*/
.sc-homepage-card-img-text {
  /* display: none; */
  /* font-size: 1.05em; */
  width: 0px;
  height: 0px;
  opacity: 0;

  color: transparent;
}
/*hover sulla immagine*/
.sc-homepage-card-img:hover ~ .sc-homepage-card-img-text{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  color: black; 
  transition: 350ms;

  width: 80%;
  max-width: 80%;
  height: 40%;
  max-height: 40%;
  opacity: 1;
  padding: 15px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 25px;

  position: absolute;
}
/*hover sulla card*/
.sc-homepage-card-img-text:hover{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80%;
  max-width: 80%;
  height: 40%;
  max-height: 40%;
  opacity: 1;
  padding: 15px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  color: black; 
  border-radius: 25px;

  position: absolute;
  transition: 450ms;
}

/*configurazione titolo immagine*/
.sc-homepage-card-title {
  display: flex;
  align-self: center;
  color: white;
  justify-content: center;
  height: 20vh;
  align-items: center;
  /* font-size: var(--font-size); */
}

/*responsive*/
@media (max-width: 768px) {
  /*contenitore di tutta la pagina*/
  .sc-homepage-start {
    margin-top: 0;
    overflow: hidden;

    max-width: 100vw;
    max-height: 93vh;

    background-color: #f0f0f0;
  }

  /*filtri*/

  .sc-homepage-filter {
    display: flex;

    border: 3px solid #ccc;
    width: 80vw;
  }

  .sc-homepage-filter-container {
    padding-top: 3vh;
    padding-left: 2vh;
    padding-bottom: 3vh;
  }

  .sc-homepage-blur {
    align-items: flex-start;
  }

  /*contenitore di tutti i musei*/
  .sc-homepage-musei-container {
    display: flex;
    justify-content: center;

    padding: 1em;

    height: 93vh;

    border-radius: 15px;
    flex-wrap: wrap;


    overflow-y: scroll;
    overflow-x: hidden;
  }

  /*css di ogni museo*/
  .sc-homepage-museo-card {
    border-radius: 5%;

    display: flex;
    flex-direction: column;

    width: 85vw;
    height: 40vh;

    transition: 350ms;

    box-sizing: border-box;

    margin-bottom: 7%;
    margin-left: 2vw;

    overflow: hidden;
    cursor: pointer;
  }

  /*configurazione div delle immagini*/
  .sc-homepage-card-img div {
    overflow: hidden;

    min-width: 80vw;
    min-height: 30vh;
    max-width: 80vw;
    max-height: 30vh;
  }

  /*animazione dell'intero museo, immagine e testo*/
  .sc-homepage-museo-card:hover {
    background-color: aliceblue;

    font-size: 1.05em;

    transform: scale(1.05);
    transition: 350ms;

    cursor: pointer;
  }

  /*div della immagine*/
  .sc-homepage-card-img {
    display: flex;
    justify-content: flex-start;

    width: 90vw;
    height: 30vh;
    max-width: 90vw;
    max-height: 30vh;
  }

  /*configurazione dell'immagine*/
  .sc-homepage-card-img img {
    object-fit: cover;
    max-width: 90vw;
    max-height: 30vh;
    width: 90vw;
  }

  /*configurazione titolo immagine*/
  .sc-homepage-card-title {
    display: flex;
    max-width: 100vw;
    align-self: center;
  }

  /*contiene l'immagine*/
  .sc-homepage-img-container {
    background-image: url("../../assets/sc-background.webp");
    background-size: cover;

    height: 96vh;
  }

  .mobileButton {
    opacity: 1;
    display: flex;
    justify-content: flex-end;
    width: auto;
    padding: 0.5rem;
    height: auto;
  }

  .mobileButton .arrow {
    width: 20px;
    height: 20px;
  }

  .sc-homepage-filter {
    display: flex;
    justify-content: space-around;
  }
  

  .hiddenMobile {
    display: none;
  }
}